[submodule "https:/github.com/lingjiang9/securesystem2.git"]
	path = https:/github.com/lingjiang9/securesystem2.git
	url = https://github.com/boppreh/aes.git

[submodule "submodule-aes"]
	path = submodule-aes
	url = https://github.com/boppreh/aes.git
